.pagination {
  width: 70%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  nav{
    display: inline-block;

    li{ padding: 2px;

    }
  }

}
.page-buttons{
  display: flex;
  flex-wrap: wrap;
}