.articles {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}
.article {
  height: 52px;
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .topic {
    height: 52px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #ddd;

  }

  .description {
    height: 52px;
    width: 55%;
    font-size: 16px;
    color: #444;
    padding: 5px 10px;
    background-color: #eee;

  }

  .date {
    height: 52px;
    width: 15%;
    font-size: 16px;
    color: #aaa;
    padding: 5px 10px;
    background-color: #ddd;

  }
}